@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --black-primary: #000000;
    --white-primary: #FFFFFF;
    --white-secondary: #D0D0D0;
    --purple-primary: #D95BE4;
    --purple-secondary: #6D2E72;
}
*,
::after,
::before {
    box-sizing: border-box;
    padding: 0 0;
    margin: 0 0;
}
body {
    background-color: var(--black-primary);
}
.app {
    color: var(--white-secondary);
    font-family: 'Roboto';
    display: flex;
    min-height: 100vh;
    width: 100%;
}