.home {
    display: flex;
    width: 100%;
    /*This part is important for centering*/
    display: grid;
    place-items: center;
    .home_wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .title {
            font-size: 128px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            width: 8.1ch;
            animation: typing 4s steps(7), blink .5s step-end infinite alternate;
            white-space: nowrap;
            overflow: hidden;
            border-right: 3px solid;
            border-color: var(--purple-primary);
          }
          
          @keyframes typing {
            from {
              width: 0
            }
          }
              
          @keyframes blink {
            50% {
              border-color: transparent
            }
          }
    }
}